@tailwind base;
@tailwind components;
@tailwind utilities;

.no-highlight {
  -webkit-tap-highlight-color: transparent;
}

.keep-scrolling {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.keep-scrolling::-webkit-scrollbar {
  display: none;
}
